@charset "UTF-8";


html {
    background: #F0F8FF url(image.jpg) no-repeat;
    font-size: 100%;
}

.close{
  text-align: center;
}

.score{
   text-align: center;
}

.c{
  display: inline;
}

.timecountdown{
  padding:0% 2% 0% 2%;
  margin:10px 30vw 10px 30vw;
  text-align: center;
  font-weight:300;
  font-size:30px;
  background-color:rgba(255, 255, 255, 0.8);
}




